{% extends "base.html" %}

{% load util_tags %}

{% block content %}
<v-card>
  <v-card-title>Reset you password!</v-card-title>
  <v-card-text>
    <p>Hi {{ new_user }},</p>

    <p>You are going to reset your password on wrh-organization. </p>
    <p>Please enter new password and click submit button to reset your password:</p>
    <v-form v-model="isValid" @submit.prevent="resetPassword()">
      {% csrf_token %}
      <v-text-field :rules="[required]" v-model="new_password" type="password" label="New Password" outlined dense
                    placeholder="New Password">
      </v-text-field>
      <v-text-field :rules="[required,confirmedValidator(confirm_password, new_password)]" v-model="confirm_password"
                    dense type="password" label="Confirm New Password" outlined placeholder="Confirm New Password">
      </v-text-field>
      <v-btn class="mr-4" :loading="sending" type="submit" color="primary" :disabled="!isValid || success">Submit</v-btn>
      <v-alert dense text color="primary" v-if="success" class="mt-2">
        Password reset successfully! Redirecting to login ...
      </v-alert>
    </v-form>
  </v-card-text>
</v-card>
{% endblock content %}
{% block extra_js %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock extra_js %}

{% block runtime_js %}
<script>
  var _axiosInstance = null;
  window.app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: function() {
      return {
        new_password: '',
        confirm_password: '',
        isValid: true,
        sending: false,
        success: false,
      }
    },
    methods: {
      getAxios: function() {
        if (!_axiosInstance) {
          _axiosInstance = axios.create({
            xsrfCookieName: "csrftoken",
            xsrfHeaderName: "X-CSRFToken",
            withCredentials: true,
            headers: {
              "Content-Type": "application/json"
            }
          });
        }
        return _axiosInstance;
      },
      confirmedValidator: function(value, target) {
        return value === target || 'The Confirm Password field confirmation does not match';
      },
      required: function(value) {
        return (value && value.length ? true : 'This field is required');
      },
      resetPassword: function() {
        const axiosInstance = this.getAxios();
        this.sending = true;
        axiosInstance.post(window.location.pathname, {new_password: this.new_password}).then((response) => {
          this.sending = false;
          this.success = true;
          window.location = response.data.next || '/';
        }, (error) => {
          this.sending = false;
          alert("Error: canot reset password");
        });
      }
    }
  });
</script>

{% endblock runtime_js %}
