0 *     * * *   appuser /opt/webapps/wrh_organization/env/bin/python /opt/webapps/wrh_organization/wrh_organization/wrh_organization/manage.py usac_event_sync && /opt/webapps/wrh_organization/env/bin/python /opt/webapps/wrh_organization/wrh_organization/wrh_organization/manage.py usac_club_import
